* {
    --main-bg: #111116;
    --alt-bg: #191920;
    --alt2-bg: rgb(31, 31, 39);
    --alt3-bg: rgb(35, 35, 44);

    --light-tint: rgba(69, 72, 85, 0.05);
    --main-accent-tint: rgba(103, 145, 253, 0.3);
    --alt-accent-tint: rgba(180, 103, 253, 0.3);

    --alt-text: rgb(233, 233, 233);
    --main-text: white;

    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    --between-color: rgb(139, 148, 158);

    --item-bg: #25262E;
    --sub-item-bg: #30323d;
    --sub2-item-bg:rgb(69, 72, 85);

    --drop-shadow-color: rgba(0, 0, 0, 0.25);

    --main-accent: #6791FD;
    --alt-accent: #b467fd;
}